/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* NAVIGATION */
nav {
    position: fixed;
    z-index: 1;
    top: 40px;
    right: 25px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 25px;
    background-color: white;
    text-align: center;
    line-height: 50px;
}

nav ul a {
    text-decoration: none;
    color: black;
}

/* SECTIONS */
section {
    position: relative;
    height: 100vh;
    color: yellow;
}

#first {
    background-color: red;
}

#second {
    background-color: green;
}

#third {
    background-color: yellow;
}

/* CONTENT */
section .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 48px;
}

section:last-child {
    color: green;
}